<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}
<body data-theme="{{ .Site.Params.defaultColor }}" class="notransition">
    {{- partial "scriptsBodyStart.html" . -}}
    {{- partial "header.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
    
    <!-- Código de seguimiento de Clicky -->
    {{ if .IsServer }}
    <script type="text/javascript">
        var clicky_site_ids = clicky_site_ids || [];
        clicky_site_ids.push({{ .Site.Params.clicky.siteId }});
        (function() {
            var clicky = document.createElement('script');
            clicky.type = 'text/javascript';
            clicky.async = true;
            clicky.src = '//static.getclicky.com/js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(clicky, s);
        })();
    </script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/{{ .Site.Params.clicky.siteId }}/ns.gif" /></p></noscript>
    <!-- Fin del código de seguimiento de Clicky -->
    {{ end }}
    
    {{- partial "scriptsBodyEnd.html" . -}}
</body>
</html>
